html 
    include header.pug
    link(rel="stylesheet" href="style/login.css" type="text/css")
    body 
        div(class="top-area")
            div(class="welcome-msg-container")
                h1(class="welcome-msg")="WELCOME TO TIMMY'S TUNES!"
            div(class="search-container")
                input(id="searchBar" class="searchBar" type='text' placeholder='Keyword(s)')
                button(id="searchButton" class="searchButton" type='submit') Search
            div(class="top-buttons-container")
                button(class="signInButton" type='button')
                    a(href="/login") Sign In
                button(class="registerButton" type='button')
                    a(href="/register") Register
                button(class="cartButton" type='button')
                    a(href="/cart") Cart
                div(class="cart-count")=totalCart
        div(class="login-area")
            h1(class="page-title") Login
            form(class="login-form" action="/login" method='POST')
                div(class="login-items")
                    div
                        label(for="username")   Username: 
                        input(type="text" class="form-control" name="username" id="username" placeholder="Username")
                    div
                        label(for="password")   Password: 
                        input(type="password" class="form-control" name="password" id="password" placeholder="Password")
                //- div
                input(type="submit" class="login-buttons submit-button" value="Submit")
                    //- div
                button(type="button" class="login-buttons create-button")
                    a(href="/register") Create
        div(class="pop-up" id="pop-up")
            span(class="helper")
            div
                h1 Invalid login, please try again!
                h3 You will be redirected back to the login page soon...
        //- - var sendAlert = alertUser
        //- h1 = alertUser
            
    script.
        $(document).ready(function(){
            $("#searchButton").on("click", function(event){
                console.log("search button is clicked");
                event.preventDefault();
                let enteredKeywords = $("#searchBar").val();
                const keywords = enteredKeywords.split(" ");
                window.localStorage.setItem("queryWords",keywords);
                window.location="/";
            })
        })
    
        var sendAlert= #{alertUser}
        var sendPopUp = #{sendPopUp}
        window.onload = () => {
            function checkAlert() {
                if (sendAlert == true) {
                    alert("Please do not leave the fields empty")
                }
            }
            if (sendPopUp){
                document.getElementById("pop-up").style.display="block";
        }
            checkAlert()
        }
        if (sendPopUp){
            setTimeout(function(){
            window.location = "/login";
            },3000);
        }
